---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import cv from '@/assets/OriolCastroArnau_CV_2025.pdf'
import aboutImg from '@/assets/about-cover.jpeg'
import TextLink from '@/components/TextLink.astro'
import PageLayout from '@/layouts/Base.astro'

const meta = {
  title: 'About',
  description: 'A little bit about me',
}
---

<PageLayout meta={meta}>
  <Image
    src={aboutImg}
    class="mb-4 aspect-cover object-cover"
    alt="About myself"
    loading="eager"
    fetchpriority="high"
    width={1408}
    height={792}
  />

  <div class="mb-4 space-y-6 text-justify">
    <h1 class="title">A little bit about me</h1>
    <p>
      My name is Oriol Casto Arnau, but you can call me Oriol or just Uri for short. I'm a product
      engineer currently focused on the frontend web platform and living in a beautiful
      Mediterranean small city called Vilanova i la Geltrú near Barcelona.
    </p>
    <p>
      I have always been interested in everything related to technology and how it can change the
      way we live. In 2017, I decided to make a turn in my career and become a full-time
      professional developer.
    </p>
    <p>
      Since then, I have worked first as a part-time freelancer while leveling up my skills, then at
      <TextLink href="https://www.xceed.me/">Xceed</TextLink>, <TextLink
        href="https://www.immfly.com/"
      >
        Immfly
      </TextLink>,
      <TextLink href="https://www.gigapipe.com/">Gigapipe</TextLink>, and <TextLink
        href="https://toddl.co/">toddl.co</TextLink
      >. I consider myself a product-centric engineer, I thrive when outlining, architecting, and
      developing enjoyable and crafted products that scale.
    </p>
    <p>
      What it means to be a <b>product engineer</b> to me? Being someone that pursue solving users problems
      by building products from inception to shipping. <TextLink
        href="https://leerob.io/blog/product-engineers#what-are-product-engineers"
      >
        This article from Lee Robinson
      </TextLink> and <TextLink href="https://posthog.com/blog/what-is-a-product-engineer"
        >this other from PostHog</TextLink
      > expand that concept very well.
    </p>
    <p class="text-justify">
      My motto has always been: <span class="italic"
        >make it easier, do it right and achieve it together.</span
      >
    </p>

    <h3 class="text-xl font-semibold text-accent-2">Make it easier</h3>
    <p>
      The understanding of how things work and the desire to find the best possible solution to a
      problem is a great fuel for exploration. That's why I became an engineer.
    </p>
    <ul class="list-inside list-disc">
      <li>Master's Degree in Aerospace Science and Technology 2011 - 2014</li>
      <li>Aeronautical Technical Engineering esp. Aircraft navigation 2005 - 2009</li>
    </ul>
    <p>
      After college and reflecting on where my path was leading me I decided to make a 42-degree
      turn and become a software developer. As I consider myself a product-centric engineer it made
      sense to put the focus in the area closer to the final user, the front-end. With dedication
      and thanks to the vast online resources available nowadays I was able to achieve my goal.
    </p>
    <h3 class="text-xl font-semibold text-accent-2">Do it right</h3>
    <p>
      I'm not a fanboy of any particular stack as I tend to consider all technologies as just tools
      for the job. For each project, I try to select the best set of tools considering the developer
      experience, the existing community, and the expertise level of myself and the rest of the
      team.
    </p>
    <p>
      As my career progressed, I expanded my interests, reaching for the tools that could help be
      become a real product engineer capable of shipping end to end products. I learned about
      product management and agile methodologies, I mastered git and discovered the CI/CD concepts,
      and I made my incursions in the backend world and programming languages beyond JavaScript like
      Python, Go or PHP.
    </p>
    <h3 class="text-xl font-semibold text-accent-2">Achieve it together!</h3>
    <p>
      Aside of developing a carrer I have always considered that as a citizen is very important to
      be involved in some form of social activism.
    </p>
    <p>
      From my time in the <em>free time educational movement (Esplais)</em> with <TextLink
        href="https://www.dracmagic.org/"
      >
        Drac Màgic
      </TextLink> first and as part of the board of <TextLink href="https://www.esplac.cat/">
        Esplais Catalans
      </TextLink> later, and also as an active member of <TextLink
        href="http://www.launiovilanovina.cat/"
      >
        La Unió Vilanovina
      </TextLink> and the <TextLink href="https://fme.cat">FME.</TextLink> I have achieved some key abilities
      that I use now in my professional career.
    </p>
    <ul class="list-inside list-disc">
      <li>The <b>teamwork</b> spirit as a must.</li>
      <li>
        The ability to <b>communicate assertively</b>.
      </li>
      <li>
        The tools for an <b>effective leadership</b>.
      </li>
      <li>The importance of <b>commitment</b> and to <b>bond</b> with the project.</li>
    </ul>
  </div>
  <div>
    <h4 class="text-l font-semibold text-accent-2">Download my resume</h4>
    <a
      href={cv}
      download
      class="mt-4 inline-flex items-center justify-center rounded bg-link px-3 py-2 font-bold text-white"
      ><Icon class="mr-2 h-6 w-6" name="lucide:file-down" aria-hidden="true" focusable="false" />
      Resume</a
    >
  </div>
</PageLayout>
