---
import { Icon } from "astro-icon";
---

<div class="mb-1 grid grid-cols-timeline-item items-start gap-1">
	<Icon class="h-6 w-6" aria-hidden="true" focusable="false" name="mdi:chevron-right" />
	<span>
		<slot />
	</span>
</div>
