---
import type { CollectionEntry } from 'astro:content'

import TextLink from '@/components/TextLink'
import TimelineItemContent from '@/components/timeline/TimelineItemContent'
import TimelineItemTitle from '@/components/timeline/TimelineItemTitle'

type Props = {
  item: CollectionEntry<'timeline'>
}
const { item } = Astro.props

const { Content } = await item.render()
---

<h3 class="my-3 text-lg font-bold" id={item.data.year.toString()}>{item.data.year}</h3>
<div class="flex flex-col border-l-2 border-accent">
  <Content components={{ h1: TimelineItemTitle, p: TimelineItemContent, a: TextLink }} />
</div>
