---
import { type CollectionEntry, render } from 'astro:content'

import BlogHero from '@/components/blog/Hero.astro'
import TOC from '@/components/blog/TOC.astro'
import BackToTop from '@/components/solid/BackToTop'

import BaseLayout from './Base.astro'

interface Props {
  post: CollectionEntry<'post'>
}

const { post } = Astro.props
const { ogImage, title, description, updatedDate, publishDate } = post.data
const socialImage = ogImage ?? `/og-image/${post.id}.png`
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const { headings } = await render(post)
---

<BaseLayout
  meta={{
    articleDate,
    description,
    ogImage: socialImage,
    title,
  }}
>
  <div class="gap-x-10 lg:flex lg:items-start">
    {!!headings.length && <TOC headings={headings} />}
    <article class="flex-grow break-words" data-pagefind-body>
      <div id="blog-hero"><BlogHero content={post} /></div>
      <div
        class="prose prose-base prose-cactus prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none mt-12 max-w-[90ch]"
      >
        <slot />
      </div>
    </article>
  </div>
  <BackToTop client:load />
</BaseLayout>
